adf-stshopeaydatameet/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-stshopeaydatameet"
		},
		"ls_Blobstorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_Blobstorage'"
		},
		"ls_SQLdatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_SQLdatabase'"
		},
		"ls_SQLdatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbstshopeaydatameet.database.windows.net"
		},
		"ls_SQLdatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db-stshopeaymeet"
		},
		"ls_SQLdatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_Blobstorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "To Import Data From the Blob Storage ",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_Blobstorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_SQLdatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_SQLdatabase_properties_typeProperties_server')]",
					"database": "[parameters('ls_SQLdatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_SQLdatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_SQLdatabase_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blobstorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "customers.csv",
						"folderPath": "customer",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerId",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "CustomerSegment",
						"type": "String"
					},
					{
						"name": "JoinDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_Order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blobstorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "month=01/orders_jan2024.csv"
					}
				},
				"folder": {
					"name": "Blob_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "orders",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OrderId",
						"type": "String"
					},
					{
						"name": "CustomerId",
						"type": "String"
					},
					{
						"name": "ProductId",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "Discount",
						"type": "String"
					},
					{
						"name": "ShippingCost",
						"type": "String"
					},
					{
						"name": "PaymentMethod",
						"type": "String"
					},
					{
						"name": "OrderStatus",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_Product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blobstorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "products.csv",
						"folderPath": "products",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductId",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "SubCategory",
						"type": "String"
					},
					{
						"name": "Brand",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "CostPrice",
						"type": "String"
					},
					{
						"name": "StockQty",
						"type": "String"
					},
					{
						"name": "Supplier",
						"type": "String"
					},
					{
						"name": "IsActive",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_Reutrns')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blobstorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "returns",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ReturnId",
						"type": "String"
					},
					{
						"name": "OrderId",
						"type": "String"
					},
					{
						"name": "CustomerId",
						"type": "String"
					},
					{
						"name": "ProductId",
						"type": "String"
					},
					{
						"name": "ReturnDate",
						"type": "String"
					},
					{
						"name": "ReturnReason",
						"type": "String"
					},
					{
						"name": "ReturnStatus",
						"type": "String"
					},
					{
						"name": "RefundAmount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_FactOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLdatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OrderId",
						"type": "varchar"
					},
					{
						"name": "CustomerId",
						"type": "varchar"
					},
					{
						"name": "ProductId",
						"type": "varchar"
					},
					{
						"name": "CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "OrderDate",
						"type": "date"
					},
					{
						"name": "OrderMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OrderYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "DiscountPct",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "DiscountAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "GrossRevenue",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "ShippingCost",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "NetRevenue",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "CostOfGoods",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "GrossProfit",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "PaymentMethod",
						"type": "nvarchar"
					},
					{
						"name": "OrderStatus",
						"type": "nvarchar"
					},
					{
						"name": "IsDelivered",
						"type": "bit"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "LoadedAt",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "fact_Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLdatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_FactReturns')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLdatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ReturnId",
						"type": "varchar"
					},
					{
						"name": "OrderId",
						"type": "varchar"
					},
					{
						"name": "CustomerId",
						"type": "varchar"
					},
					{
						"name": "ProductId",
						"type": "varchar"
					},
					{
						"name": "ReturnDate",
						"type": "date"
					},
					{
						"name": "ReturnReason",
						"type": "nvarchar"
					},
					{
						"name": "ReturnStatus",
						"type": "nvarchar"
					},
					{
						"name": "RefundAmount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "LoadedAt",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "fact_Returns"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLdatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_dimCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLdatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerId",
						"type": "varchar"
					},
					{
						"name": "FullName",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "CustomerSegment",
						"type": "nvarchar"
					},
					{
						"name": "JoinDate",
						"type": "date"
					},
					{
						"name": "LoadedAt",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_Customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLdatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_dimProduct')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLdatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductId",
						"type": "varchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "SubCategory",
						"type": "nvarchar"
					},
					{
						"name": "Brand",
						"type": "nvarchar"
					},
					{
						"name": "UnitPrice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "CostPrice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "LoadedAt",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_Products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLdatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PI_CopyDimension')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dimensions tables are loded into sql",
				"activities": [
					{
						"name": "Copy_Customers",
						"description": "Copy Customer Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"CustomerId"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FullName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CustomerSegment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerSegment",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "JoinDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JoinDate",
											"type": "Date",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Blob_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_dimCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Product",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ProductId"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubCategory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Brand",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Brand",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UnitPrice",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "CostPrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CostPrice",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Blob_Product",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_dimProduct",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Blob_Customer')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_dimCustomer')]",
				"[concat(variables('factoryId'), '/datasets/DS_Blob_Product')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_dimProduct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_OrdersClensed')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "cleaned the orders via transformation",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Blob_Order",
								"type": "DatasetReference"
							},
							"name": "allOrders"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_SQL_FactOrders",
								"type": "DatasetReference"
							},
							"name": "LoadOrders"
						}
					],
					"transformations": [
						{
							"name": "CleanOrders"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "FinalOrders"
						}
					],
					"scriptLines": [
						"source(output(",
						"          OrderId as string,",
						"          CustomerId as string,",
						"          ProductId as string,",
						"          OrderDate as date 'yyyy-MM-dd',",
						"          Quantity as integer,",
						"          UnitPrice as integer,",
						"          Discount as integer,",
						"          ShippingCost as integer,",
						"          PaymentMethod as string,",
						"          OrderStatus as string,",
						"          Region as string,",
						"          month as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     wildcardPaths:['orders/month=*/orders_*.csv']) ~> allOrders",
						"allOrders filter((!isNull(OrderId) && length(trim(OrderId))>0)) ~> CleanOrders",
						"CleanOrders derive(GrossRevenue = Quantity*UnitPrice,",
						"          {DiscountAmount } = Quantity*UnitPrice*Discount,",
						"          {NetRevenue } = Quantity*UnitPrice*(1-Discount),",
						"          {TotalRevenue } = (Quantity*UnitPrice*(1-Discount))+ShippingCost,",
						"          {IsDelivered } = equals( OrderStatus,'Delivered'),",
						"          OrderYear = year(OrderDate),",
						"          OrderMonth = month(OrderDate)) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          OrderId,",
						"          CustomerId,",
						"          ProductId,",
						"          OrderDate,",
						"          Quantity,",
						"          UnitPrice,",
						"          Discount,",
						"          ShippingCost,",
						"          PaymentMethod,",
						"          OrderStatus,",
						"          Region,",
						"          month,",
						"          GrossRevenue,",
						"          {DiscountAmount },",
						"          {NetRevenue },",
						"          {TotalRevenue },",
						"          {IsDelivered },",
						"          OrderYear,",
						"          OrderMonth",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> FinalOrders",
						"FinalOrders sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          OrderId as string,",
						"          CustomerId as string,",
						"          ProductId as string,",
						"          CustomerName as string,",
						"          ProductName as string,",
						"          Category as string,",
						"          OrderDate as date,",
						"          OrderMonth as integer,",
						"          OrderYear as integer,",
						"          Quantity as integer,",
						"          UnitPrice as decimal(10,2),",
						"          DiscountPct as decimal(5,2),",
						"          DiscountAmount as decimal(10,2),",
						"          GrossRevenue as decimal(10,2),",
						"          ShippingCost as decimal(10,2),",
						"          NetRevenue as decimal(10,2),",
						"          CostOfGoods as decimal(10,2),",
						"          GrossProfit as decimal(10,2),",
						"          PaymentMethod as string,",
						"          OrderStatus as string,",
						"          IsDelivered as boolean,",
						"          Region as string,",
						"          LoadedAt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          OrderId,",
						"          CustomerId,",
						"          ProductId,",
						"          OrderDate,",
						"          OrderMonth,",
						"          OrderYear,",
						"          Quantity,",
						"          UnitPrice,",
						"          GrossRevenue,",
						"          ShippingCost,",
						"          PaymentMethod,",
						"          OrderStatus,",
						"          Region",
						"     )) ~> LoadOrders"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Blob_Order')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_FactOrders')]"
			]
		}
	]
}